* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Cera Pro';
}
h1,h2,p,input {
	color: #455273;
	margin: 0;
	padding: 0;
}
h1,h2 {
	font-weight: bold;
}
h1 {
	font-size: 24px;
	padding-bottom: 40px;
	@media only screen and (max-height: 750px) {
		padding-bottom: 20px;
	}
}
h2 {
	font-size: 18px;
	padding-top: 30px;
	@media only screen and (max-height: 750px) {
		padding-top: 20px;
	}
}
p {
	font-weight: normal;
	font-size: 14px;
}
input {
	font-size: 12px;
}